{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "cssEnable": ["pcss"],
  "arrow-parens": "avoid",
  "overrides": [
    {
      "files": [
        ".prettierrc",
        ".babelrc",
        ".babelrc.server",
        ".jsbeautifyrc",
        ".stylelintrc"
      ],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["*.ts", ".tsx"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
